# Ambientes Virtuais (NUNCA DEVEM SUBIR PARA O GIT)
venv/
.venv/
env/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários e de configuração
.env
download-settings.json
*.tmp
