# Ambientes Virtuais (NUNCA DEVEM SUBIR PARA O GIT)
venv/
.venv/
env/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários e de configuração
.env
download-settings.json
*.tmp

# Arquivos do venv criados na raiz
Lib/
scripts/
Include/
pyvenv.cfg

# Executaveis locais
yt-dlp.exe
